.footer-content{
    text-align: center;
}

#copy-text{
    display: inline-block;
}

mat-icon{
    display: inline;
    float: right;
    background: cornflowerblue;
    color: white;
}

mat-card{
    background: firebrick;
    color: white;
}
