<mat-toolbar>
  <a routerLink="home" routerLinkActive="active"><button mat-button>Home </button></a>
  <a routerLink="event-calendar" routerLinkActive="active"><button mat-button>Event Calendar</button></a>
  <a routerLink="contact-us" routerLinkActive="active"><button mat-button>Contact Us</button></a>
  <a routerLink="online-inventory" routerLinkActive="active"><button mat-button>Online Inventory</button></a>
  <div class="spacer"></div>
  <span>4550 Broadway, Boulder, CO (303-997-6496)</span>
</mat-toolbar>