mat-card {
    height: 100%;
}

.mySlides{
    width:650px;
}

#photo-carousel{
    text-align: center;
}

.content{
    margin-top: 64px !important;
    min-height: 840px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
