<mat-card>
  <mat-card-content class="logo-image">
    <img id="image" mat-card-image src="../../assets/GamersGuild.png" alt="Gamer's Guild Logo">
  </mat-card-content>
  <mat-card-content class="home-text">
    <h3>Welcome</h3>
    <p>Welcome to Boulder's premier gaming store. We specialize in Magic the Gathering (singles & ancient packs), Dungeons and
      Dragons (books & supplies), Warhammer 40k (Models 20% off) and tabletop gaming in a friendly, relaxed environment suitable
      for players of all ages. We will give 10% off games we do not have in stock. We are family~owned and operated. We know
      our games and play what we sell!.</p>
    <h3>Regular Store Hours</h3>
    <p>
      Monday, Tuesday, Thursday, 12 Noon - 6 pm Wednesday, Friday, 12 Noon - 8pm Saturday, 11 am - 7 pm Sunday, 12 noon - 5 pm
      (extended hours during special events/tournaments)</p>
  </mat-card-content>
</mat-card>